@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  transition: background 0.3s, color 0.3s;
}

.dark body {
  background: #0f172a;
  color: white;
}